.icon-standard-map {
	background: url('icon-console/map.png') no-repeat center center;
}

.icon-hamburg-zoom {
	background:url('icon-console/zoom.png') no-repeat center center;
}

.icon-standard-refresh {
	background: url('icon-console/refresh.png') no-repeat center center;
}

.icon-standard-application-form {
	background:url('icon-console/application-form.png') no-repeat center center;
}

.icon-standard-application-form-magnify {
	background:url('icon-console/application-form-magnify.png') no-repeat center center;
}

.icon-standard-application-view-tile {
	background: url('icon-console/application-view-tile.png') no-repeat
		center center;
}

.icon-standard-star {
	background: url('icon-console/star.png') no-repeat center center;
}

.icon-standard-home {
	background: url('icon-console/home.png') no-repeat center center;
}

.icon-standard-date {
	background: url('icon-console/date.png') no-repeat center center;
}

.icon-standard-issue {
	background: url('icon-console/issue.png') no-repeat center center;
}

.icon-standard-arrow-inout {
	background: url('icon-console/arrow-inout.png') no-repeat center center;
}

.icon-standard-application-form-delete {
	background: url('icon-console/application-form-delete.png') no-repeat
		center center;
}

.icon-standard-cancel {
	background: url('icon-console/cancel.png') no-repeat center center;
}

.icon-standard-tab-close-left {
	background: url('icon-console/tab-close-left.png') no-repeat center
		center;
}

.icon-standard-tab-close-right {
	background: url('icon-console/tab-close-right.png') no-repeat center
		center;
}

.icon-standard-cross {
	background: url('icon-console/cross.png') no-repeat center center;
}

.icon-standard-user {
	background: url('icon-console/user.png') no-repeat center center;
}

.icon-standard-user-info {
	background: url('icon-console/user-info.png') no-repeat center center;
}

.icon-standard-lock {
	background: url('icon-console/lock.png') no-repeat center center;
}

.icon-standard-key {
	background: url('icon-console/key.png') no-repeat center center;
}

.icon-standard-logout {
	background: url('icon-console/logout.png') no-repeat center center;
}

.icon-all {
	background:url('icon-console/all.png') no-repeat center center;
}

.icon-edit {
	background:url('icon-console/edit.gif') no-repeat center center;
}

.icon-new {
	background:url('icon-console/new.png') no-repeat center center;
}

.icon-refresh {
	background:url('icon-console/refresh.gif') no-repeat center center;
}

.icon-delete {
	background:url('icon-console/delete.png') no-repeat center center;
}

.icon-start {
	background:url('icon-console/start.png') no-repeat center center;
}

.icon-stop {
	background:url('icon-console/stop.png') no-repeat center center;
}

.icon-upload {
	background:url('icon-console/upload.png') no-repeat center center;
}

.icon-download {
	background:url('icon-console/download.png') no-repeat center center;
}

.icon-epm-download {
	background:url('icon-console/icon-download.png') no-repeat center center;
}

.icon-epm-document {
	background:url('icon-console/icon-document.png') no-repeat center center;
}

.icon-epm-control-panel {
	background:url('icon-console/icon-control-panel.png') no-repeat center center;
}

.icon-epm-operation {
	background:url('icon-console/icon-operation.png') no-repeat center center;
}

.icon-epm-view {
	background:url('icon-console/icon-view.png') no-repeat center center;
}

