<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiangxinsoft.scorpio.sys.mapper.SysFileResourceMapper">

	<resultMap id="fileResourceResultMap" type="com.jiangxinsoft.scorpio.sys.model.SysFileResource">
		<id column="FileID" property="fileId" jdbcType="VARCHAR" />
		
		<result column="UserID" property="userId" jdbcType="VARCHAR" />
		<result column="TrueName" property="trueName" jdbcType="VARCHAR" />
		
		<result column="FileTitle" property="fileTitle" jdbcType="VARCHAR" />
  		<result column="FileDirectory" property="fileDirectory" jdbcType="VARCHAR" />
  		<result column="FilePath" property="filePath" jdbcType="NUMERIC" />
  		<result column="FileName" property="fileName" jdbcType="VARCHAR" />
  		<result column="FileName2" property="fileName2" jdbcType="VARCHAR" />
  		<result column="FileExtension" property="fileExtension" jdbcType="VARCHAR" />
  		<result column="FileStatus" property="fileStatus" jdbcType="VARCHAR" />
  		
  		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 表名 -->
	<sql id="tableNameSql">
		SYS_FILE_RESOURCE
	</sql>

	<!-- 按主键查找条件语句 -->
	<sql id="conditionOnlyId">
		FileID = #{fileId}
	</sql>
	
	<insert id="insert" parameterType="com.jiangxinsoft.scorpio.sys.model.SysFileResource">
		insert into
			<include refid="tableNameSql"/>
		(
			FileID,
			
			UserID,
       	
			FileTitle,
			FileDirectory,
			FilePath,
			FileName,
			FileExtension,
			FileStatus,
			
			CreateTime,
			UpdateTime
		)
		values
		(
			#{fileId, jdbcType=VARCHAR} ,
			
			#{userId, jdbcType=VARCHAR} ,
			
			#{fileTitle, jdbcType=VARCHAR} ,
			#{fileDirectory, jdbcType=VARCHAR} ,
			#{filePath, jdbcType=VARCHAR} ,
			#{fileName, jdbcType=VARCHAR} ,
			#{fileExtension, jdbcType=VARCHAR} ,
			#{fileStatus, jdbcType=VARCHAR} ,
			
			#{createTime, jdbcType=TIMESTAMP},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.jiangxinsoft.scorpio.sys.model.SysFileResource">
		update
			<include refid="tableNameSql"/>
		set
			<if test="fileStatus != null and fileStatus != ''">
				FileStatus = #{fileStatus, jdbcType=VARCHAR} ,
			</if>
			UpdateTime  = #{updateTime, jdbcType=TIMESTAMP}
		where <include refid="conditionOnlyId" />
	</update>
	
	<select id="selectByPrimaryKey" parameterType="String" resultMap="fileResourceResultMap">
		select
			f.FileID as FileID,
			
			f.UserID as UserID,
			u.TrueName as TrueName,
       	
			f.FileTitle as FileTitle,
			f.FileDirectory as FileDirectory,
			f.FilePath as FilePath,
			f.FileName as FileName,
			f.FileName2 as FileName2,
			f.FileExtension as FileExtension,
			f.FileStatus as FileStatus,
			
			f.CreateTime as CreateTime,
			f.UpdateTime  as UpdateTime
		from 
			SYS_FILE_RESOURCE f, SYS_USER u
		where
			f.UserID = u.UserID
		and
			f.FileID = #{fileId}
	</select>
	
	<select id="select" parameterType="hashMap" resultMap="fileResourceResultMap">
		select
			f.FileID as FileID,
			
			f.UserID as UserID,
			u.TrueName as TrueName,
       	
			f.FileTitle as FileTitle,
			f.FileDirectory as FileDirectory,
			f.FilePath as FilePath,
			f.FileName as FileName,
			f.FileName2 as FileName2,
			f.FileExtension as FileExtension,
			f.FileStatus as FileStatus,
			
			f.CreateTime as CreateTime,
			f.UpdateTime  as UpdateTime
		from 
			SYS_FILE_RESOURCE f, SYS_USER u
		where
			f.UserID = u.UserID
			
			<if test="userId != null and userId != ''">
				and f.UserID = #{userId}
			</if>
			
			<if test="trueName != null and trueName != ''">
				and u.TrueName = #{trueName}
			</if>
			
			<if test="startDate != null and startDate != ''">
				and f.CreateTime &gt;= #{startDate}
			</if>
		    
			<if test="finishDate != null and finishDate != ''">
				and f.CreateTime &lt;= #{finishDate}
	    	</if>
	    	
	    	<if test="fileStatus != null and fileStatus != ''">
				and f.FileStatus = #{fileStatus}
			</if>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="String">
		delete from <include refid="tableNameSql"/> where <include refid="conditionOnlyId"/>
	</delete>
	
	<delete id="deleteByPrimaryKeys" parameterType="Object[]">
		delete from <include refid="tableNameSql"/> 
		where FileID in <foreach index="index" item="item" collection="array" separator="," open="(" close=")" >
		#{item}</foreach>
	</delete>
	
</mapper>